@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Skranji:wght@700&display=swap');


  h3{

    font-family: 'Skranji';
  }

  .largo {

    font-family: 'Shadows Into Light';

  }


  th {

    font-family: 'Pacifico';
  

  }


  td {
     

    font-family: 'Black Ops one';



  }


  h1 {

    font-family: 'Black Ops one';





  }



  .index {

    font-family: 'Pacifico';
   


  }

   .h1{

    color: black;
  }

  .a {

    color: black;
  }


  

    

    

  







 

    