/*etiqueta {atributos:valores};*/

body

{


    background-image: url(../Imagenes/luna.jpg);
    
    color:aqua
}





h3
{
        color:red;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 32px;

        background-image: url(../Imagenes/lobo.jpg);
}

li


{

        color:blue;
        font-weight: bold; /*negrita*/
        font-style: italic; /*cursiva*/
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
        
        

}


dt

{


        color:blueviolet;
        

}


dd

{


        color:green

}

h1
{



        color:yellow
}