/*etiqueta {atributos:valores};*/

h2

{


    
    
    color:black;
}





h3
{
        color:red;
       

        
}

p


{

        color:black;
      
        
        
        
        

}


dt

{


        color:blueviolet;
        

}


dd

{


        color:green

}

h1
{



        color:rgb(12, 12, 11)
}