table,th {
  
  height: 4em;
  width: 70em;

}
#tabla{
  margin: auto;
}



table,tr,th,td {

  border-collapse: collapse;
  border-style: solid;
  border-color: black;


}

tr:nth-of-type(1) > th {

  background-color: rgb(107, 83, 129);



}


 td[colspan] {

  text-align:center ;
  background-color:aquamarine;
  font-weight: bold;


}


tr:nth-of-type(2) > th,
tr:nth-of-type(3) > th,
tr:nth-of-type(4) > th,
tr:nth-of-type(5) > th,
tr:nth-of-type(6) > th,
tr:nth-of-type(7) > th,
tr:nth-of-type(8) > th {
  background-color: greenyellow;
  

}


.Campaña {

text-align: center;
background-color: brown;
font-weight: bold;
font-size: 20px;
}

.Tut-Alum {

  text-align: center;
  background-color: chocolate;
  font-weight: bold;
  font-size: 20px;
  }

.smx-m12sinte {

  text-align: center;
  background-color: palevioletred;
  font-weight: bold;  
  font-size: 20px;
  }

 .c {

  text-align: center;
  background-color: black;
  font-weight: bold;    
  font-size: 20px;
  }
    
 .smx-m07 {

  text-align: center;
  background-color:gold;
  font-weight: bold;
  font-size: 20px;



  }

  .smx-m08 {

  text-align: center;
  background-color:green;
  font-weight: bold;
  font-size: 20px;



  }

  .smx-m06 {

  text-align: center;
  background-color:violet;
  font-weight: bold;
  font-size: 20px;
  


  }
  .largo {

    text-align: center;
    font-weight: bold;
    font-size: 30px;
  
  
  
    }

  .smx-2C {

    text-align:left;
    font-size: 10px;
    



    }
    .sistemas {

      text-align:center;
      font-size: 10px;
      
  
  
  
      }
    
    .tutor {

      text-align:right;
      font-size: 10px;
      
  
  
  
      }
    

  







 

    